<ion-view class="background">
    <div class="bar bar-header bar-positive">
      <h1 class="text banner">Unearth</h1>
    </div>
  <ion-content class="has-header" >
    <div class="list list-inset form-background rounded center"><br>

      <form name="loginForm" ng-submit="login(loginForm.$valid, credentials)" novalidate class="simple-form">

        <div class="form-input" ng-class="{ 'has-error' : loginForm.email.$invalid && !loginForm.email.$pristine && submitted }">
          <label class="item item-input anothertest">
            <input name="email" type="email" placeholder="Email" ng-model="credentials.email">
          </label>
          <p ng-show="loginForm.name.$invalid && !loginForm.name.$pristine" class="help-block">Enter a valid email</p>
        </div>

        <br>

        <div class="form-input" ng-class="{ 'has-error' : loginForm.password.$invalid && !loginForm.password.$pristine && submitted }">
          <label class="item item-input">
            <input name="password" type="password" placeholder="Password" ng-model="credentials.password">
          </label>
          <p ng-show="loginForm.password.$invalid && !loginForm.password.$pristine" class="help-block">Your password is required.</p>
        </div>

        <div class="row">
          <button type="submit" class="text button button-small button-calm col col-33 col-offset-33 rounded submit-button">Log In</button>
        </div>

      </form><br>
    </div>
    <div></div>
    <div class="row">
      <button class="text button button-small button-calm col col-33 col-offset-33 rounded submit-button" ng-click="redirectToSignUp();">Sign Up</button>
    </div>
   </ion-content>
   <div class="bar bar-footer bar-positive"></div>
 </ion-view>
